<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <title>Home</title>
</head>
<body class="pt-5 pt-sm-0">
  <div class="container d-flex justify-content-center align-items-center flex-column h-100 mt-5 mt-sm-0">
    <img class="img-fluid" src="/images/bootstrap-logo-shadow.png" alt="" width="10%">
    <div class="d-flex flex-column align-items-center gap-2 text-center w-50">
      <h1>Bem vindo ao B-Productive</h1>
      <p>Organize suas tarefas de forma eficiente e aumente sua produtividade!</p>
      <p>
        O B-Productive oferece uma maneira simples e intuitiva de gerenciar suas 
        atividades diárias, seja no trabalho, nos estudos ou na vida pessoal. Crie 
        listas personalizadas, adicione tarefas com facilidade,acompanhe o 
        progressoe nunca mais esqueça uma tarefa importante!
      </p>
      <button onclick="location.href = '/tasks'" class="btn btn-primary">Comece a gerenciar suas tarefas</button>
    </div>
  </div>
  <script src="/assets/scripts/scripts.js"></script>
</body>
</html>