<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/bootstrap.css">
  <title>Nova Lista</title>
</head>
<body>
  <%- include('partials/header', {route: '/nova-lista'}) %>
  <%- include('partials/list', {title: 'Nova Lista de Tarefas', layout: 2, text: 'Criar'}) %>
</body>
</html>