<header class="container py-2 mb-4">
  <ul class="text-white d-flex justify-content-start align-items-baseline gap-4 p-0">
    <li class="fs-3 m-0">B-Productive</li>
    <li class="m-0"><a class="text-white-50 text-decoration-none <% if (route === '/tasks') { %>  bg-primary rounded py-2 px-4 <% } %>" href="/tasks">Todas as listas</a></li>
    <li class="m-0"><a class="text-white-50 text-decoration-none <% if (route === '/nova-lista') { %>  bg-primary rounded py-2 px-4 <% } %>" href="/nova-lista">Nova Lista</a></li>
  </ul>
</header>